.detail {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-bottom: 1px solid var(--grey-color);
  margin-bottom: 0.5rem;
}
.profile {
  display: flex;
  gap: 1em;
}

.profileInfo {
  text-align: left;
}

.profileInfo > h2 {
  font-weight: bold;
}

.profileInfo > h3 {
  color: var(--grey-color);
}

.userImage {
  width: 50px;
  height: 50px;
  background: var(--white-color);
  border-radius: 5px;
}
