.container {
  background-color: var(--black-color);
  display: flex;
  align-items: center;
  padding: 0 1em;
  justify-content: space-around;
}

.container > a {
  font-size: 1.3rem;
  color: grey;
  text-align: center;
}

.selected {
  color: white;
  font-weight: bold;
}
