.container {
  background-color: var(--black-color);
  flex-direction: column;
  box-sizing: border-box;
  color: var(--white-color);
  display: flex;
  border-radius: 0.3rem;
  transition: 0.5s;
  padding: 0.5rem;
  gap: 1rem;
  width: 100%;
}

.container:hover {
  cursor: pointer;
}

.hidden {
  opacity: 0;
}

.info {
  display: flex;
  justify-content: space-between;
  color: var(--grey-color);
}

.Content {
  width: 100%;
  line-height: 1.2;
  color: var(--grey-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Title {
  color: var(--white-color);
  font-weight: bold;
  font-size: 1.2em;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
