.writeButton {
  background-color: var(--dark-grey-color);
  color: var(--white-color);
  width: 100px;
  height: 50px;
  position: sticky;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  border-radius: 50px;
  border: 1px solid var(--white-color);
  font-weight: 500;
}
