.header {
  width: 100%;
  padding: 0 14px;
  height: 50px;
  line-height: 3.5;
  text-align: center;
}

.header > span {
  position: absolute;
  top: 5px;
  left: 10px;
}
.icon {
  width: 20px;
  height: 20px;
}
.icon:hover {
  cursor: pointer;
}
